RandomizerClient/RandomizerClient/Connected Services/RandService/Controller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Controller" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IController_controller_InputMessage">
    <wsdl:part name="parameters" element="tns:controller" />
  </wsdl:message>
  <wsdl:message name="IController_controller_OutputMessage">
    <wsdl:part name="parameters" element="tns:controllerResponse" />
  </wsdl:message>
  <wsdl:message name="IController_loginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:loginUser" />
  </wsdl:message>
  <wsdl:message name="IController_loginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IController_logout_InputMessage">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="IController_logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="IController_randomize_InputMessage">
    <wsdl:part name="parameters" element="tns:randomize" />
  </wsdl:message>
  <wsdl:message name="IController_randomize_OutputMessage">
    <wsdl:part name="parameters" element="tns:randomizeResponse" />
  </wsdl:message>
  <wsdl:message name="IController_tryIncertReq_InputMessage">
    <wsdl:part name="parameters" element="tns:tryIncertReq" />
  </wsdl:message>
  <wsdl:message name="IController_tryIncertReq_OutputMessage">
    <wsdl:part name="parameters" element="tns:tryIncertReqResponse" />
  </wsdl:message>
  <wsdl:portType name="IController">
    <wsdl:operation name="controller">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/controller" message="tns:IController_controller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/controllerResponse" message="tns:IController_controller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/loginUser" message="tns:IController_loginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/loginUserResponse" message="tns:IController_loginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/logout" message="tns:IController_logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/logoutResponse" message="tns:IController_logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="randomize">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/randomize" message="tns:IController_randomize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/randomizeResponse" message="tns:IController_randomize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="tryIncertReq">
      <wsdl:input wsaw:Action="http://tempuri.org/IController/tryIncertReq" message="tns:IController_tryIncertReq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IController/tryIncertReqResponse" message="tns:IController_tryIncertReq_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IController" type="tns:IController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="controller">
      <soap:operation soapAction="http://tempuri.org/IController/controller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginUser">
      <soap:operation soapAction="http://tempuri.org/IController/loginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="http://tempuri.org/IController/logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="randomize">
      <soap:operation soapAction="http://tempuri.org/IController/randomize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tryIncertReq">
      <soap:operation soapAction="http://tempuri.org/IController/tryIncertReq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Controller">
    <wsdl:port name="BasicHttpBinding_IController" binding="tns:BasicHttpBinding_IController">
      <soap:address location="http://localhost:8080/RandomizerService.Controller" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>