RandomizerClient/RandomizerClient/Connected Services/RandService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="StackOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StackOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_array" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StackOfstring" nillable="true" type="tns:StackOfstring" />
</xs:schema>